

.top-bar {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
}

.top-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-bar li {
  float: left;
}

.top-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-bar li a:hover {
  background-color: #111;
}
