table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black; /* Add a border to the entire table */
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
